*.espressostorage

.DS_Store
.AppleDouble
.LSOverride
Icon

app/
lib/
.sass_cache/

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Testing Stuff
npm-debug.log
/node_modules/
